<div class="mf-editor-toolbar">
  <button type="button" onclick="mfInsertTag('<%= textareaId %>','img')" title="Resim URL ekle"><i class="fas fa-image"></i></button>
  <button type="button" onclick="mfInsertTag('<%= textareaId %>','video')" title="Video URL ekle (YouTube, Dailymotion, Instagram, TikTok, Facebook, Twitter)"><i class="fas fa-video"></i></button>
  <button type="button" onclick="mfInsertWrap('<%= textareaId %>','**')" title="Kalın"><i class="fas fa-bold"></i></button>
  <button type="button" onclick="mfInsertWrap('<%= textareaId %>','*')" title="İtalik"><i class="fas fa-italic"></i></button>
</div>
