<%- include('partials/top', { title: 'Sayfa Bulunamadı' }) %>

<div class="vb-404-box">
  <div class="vb-404-code">404</div>
  <p>Aradığınız sayfa bulunamadı.</p>
  <div class="vb-404-btns">
    <a class="vb-404-btn-home" href="/"><i class="fas fa-house"></i> Anasayfaya Dön</a>
  </div>
</div>

<%- include('partials/footer') %>
